In [6]:
import pandas as pd
import boto3
import awswrangler as awr

In [4]:
session = boto3.Session(profile_name='udacity-dwh-admin')

In [14]:
test_file_songs = awr.s3.read_json(path='s3://song-data-bucket-jh/A/A/A/TRAAAAK128F9318786.json', boto3_session=session, lines=True)

In [28]:
test_file_songs.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARJNIUY12298900C91,NaN,,NaN,Adelitas Way,213.9424,1,SOBLFFE12AF72AA5BA,Scream,2009

In [15]:
test_file_songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artist_id         1 non-null      object
 1   artist_latitude   0 non-null      float64
 2   artist_location   1 non-null      object
 3   artist_longitude  0 non-null      float64
 4   artist_name       1 non-null      object
 5   duration          1 non-null      float64
 6   num_songs         1 non-null      int64
 7   song_id           1 non-null      object
 8   title             1 non-null      object
 9   year              1 non-null      int64
dtypes: float64(3), int64(2), object(5)
memory usage: 212.0+ bytes

In [10]:
test_file_logs = awr.s3.read_json(path='s3://udacity-dend/log_data/2018/11/2018-11-01-events.json', boto3_session=session, lines=True)

In [16]:
test_file_logs.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1540344794796,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1540344794796,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [12]:
test_file_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artist         11 non-null     object
 1   auth           15 non-null     object
 2   firstName      15 non-null     object
 3   gender         15 non-null     object
 4   itemInSession  15 non-null     int64
 5   lastName       15 non-null     object
 6   length         11 non-null     float64
 7   level          15 non-null     object
 8   location       15 non-null     object
 9   method         15 non-null     object
 10  page           15 non-null     object
 11  registration   15 non-null     int64
 12  sessionId      15 non-null     int64
 13  song           11 non-null     object
 14  status         15 non-null     int64
 15  ts             15 non-null     int64
 16  userAgent      15 non-null     object
 17  userId         15 non-null     int64
dtypes: float64(1), int64(6), object(11)
memory usage: 2.2+ KB

In [29]:
test_file_logs.page.unique()

array(['Home', 'NextSong', 'Upgrade'], dtype=object)